@{
    ViewBag.Title = "Index";
    Session["URL"] = @Request.Url.AbsoluteUri;
}

<div ng-controller="imageUploadController">

    <div class="col-md-12" style="text-align:center;margin-bottom:10px;">
        <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().setFile(this)" accept="image/*" class="btn btn-warning" />
    </div>
    <div class="col-md-12">
        <button ng-click="UploadFile()" class="btn btn-primary">Upload File</button>
    </div>

    <div class="col-md-12" style="padding-top:10px;">

        <div class="col-md-7">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>File Type</th>
                        <th>File Size</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in fileList">

                        <td>{{file.file.name}}</td>
                        <td>{{file.file.type}}</td>
                        <td>{{file.file.size}}</td>
                        <td>
                            <div id="{{'P'+$index}}">

                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>